{% capture content %}
<section class="layer features-main">

  <section>
    {% for post in site.pages.features.posts %} {% if post.assets.size > 0 %}
    <figure class="two-thirds screenshot">
      <img src="{{post.assets.last.url}}" alt="{{post.title}}" />
    </figure>
    <section class="third feature-item">
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </section>
    {% endif %} {% endfor %}
    <div style="clear: both"></div>
  </section>
</section>
<section class="layer features-secondary">
    {% for post in site.pages.value.posts %}
      <h2 class="intro-footer" id="light">{{post.body_raw}}</h2>
    {% endfor %}
</section>

{% endcapture %} {% include 'layouts/default' %}
