<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="description" content="{{excerpt | fallback:site.meta.description | strip_html | truncate: 300 | escape}}">
  <meta property='st:title' content='{{ title }}' />{% if url == '/' %}
  <title>{{site.meta.title | fallback:title}}</title>
  {% else %}
  <title>{{title}}</title>
  {% endif %}
  <link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-retina.png">

  <link rel="stylesheet" href="/styles/css/style.css">
  <link rel="icon shortcut" href="/images/favicon.ico">{{ header_scripts }}
  <script src="//use.typekit.net/csp2hsr.js"></script>
  <script>
    try {
      Typekit.load();
    } catch (e) {}
  </script>
</head>

<body>

  <section class="layer main{% if home? %} dark{% endif %}">
    <section>
      <header>
        <h1 class="logo">
          <a href="/">Woodside Group</a>
        </h1>
        <nav>
          <ul class="main-nav">
          {% for page in site.pages %}
          <li class="main-nav-item" id="{{page.title}}">
            <a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a>
            {% if page.pages.size > 0 %}
            <ul>
              {% for subpage in page.pages %}
                <li class="main-nav sub-page">
                  <a href="{{subpage.url}}"{% if subpage.url == url %} class="is-current-page"{% endif %}>{{subpage.title}}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
          </ul>
        </nav>
      </header>



    </section>
  </section>
  {% if home? %}
  <section class="layer main message">

  <h2 class="intro-header" id="dark">Engineering for a connected world.</h2>

  </section>
  <div class="intro-video-wrap is-hidden" id="video">
    <div class="intro-video">

    </div>
  </div>
  {% endif %}

  {{ content }}

  <footer class="layer footer">
    <section>

      <nav>
        <ul class="main-nav footer">
          {% for page in site.pages %}
          <li class="main-nav-item footer" id="{{page.title}}">
            <a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a>
            {% if page.pages.size > 0 %}
            <ul>
              {% for subpage in page.pages %}
                <li class="main-nav sub-page footer">
                  <a href="{{subpage.url}}"{% if subpage.url == url %} class="is-current-page"{% endif %}>{{subpage.title}}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
      <!-- <h1 class="logo">
        <a href="/">Woodside Group</a>
      </h1> -->
      <small>{{ site.meta.copyright }}</small>
    </section>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="/scripts/js/min/application.js"></script>
  <script src="/scripts/js/jquery.fittext.js"></script>
  <script type="text/javascript">
    $("#dark").fitText(1.8, {
      minFontSize: '22px',
      maxFontSize: '50px'
    });
    $(".mast-light").fitText(1.8, {
      minFontSize: '18px',
      maxFontSize: '40px'
    });
    $(".mast-light.intro-footer").fitText(1.8, {
      minFontSize: '18px',
      maxFontSize: '30px'
    });
  </script>
  {{ footer_scripts }}
</body>

</html>
